
@font-face {
    font-family: 'comfortaaregular';
    src: url('/fonts/comfortaa-regular-webfont.eot');
    src: url('/fonts/comfortaa-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/comfortaa-regular-webfont.woff') format('woff'),
        url('/fonts/comfortaa-regular-webfont.ttf') format('truetype'),
        url('/fonts/comfortaa-regular-webfont.svg#comfortaaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'comfortaabold';
    src: url('/fonts/comfortaa-bold-webfont.eot');
    src: url('/fonts/comfortaa-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/comfortaa-bold-webfont.woff') format('woff'),
        url('/fonts/comfortaa-bold-webfont.ttf') format('truetype'),
        url('/fonts/comfortaa-bold-webfont.svg#comfortaabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (max-device-width: 480px) {
    .navcontainer > .btn{
        display: inline-block !important;
    }
    #AccountSettingsContainer > .btn,
    #AccountSettingsContainer > span{
        display: none;
    }

}


/* Message Count */
.alert-count {
    display: inline-block;
    min-width: 10px;
    padding: 1px 3px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 10px;
    line-height: 13px;
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.3);
    border: 1px solid red;

    border: 1px solid #cc1474;
    background-color: #c5066b;
    background-image: -webkit-linear-gradient(top, #ea2f91,#c5066b);
    background-image: -moz-linear-gradient(top, #ea2f91,#c5066b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ea2f91), to(#c5066b));
    background-image: -o-linear-gradient(top, #ea2f91, #c5066b);
    background-image: linear-gradient(to bottom, #ea2f91, #c5066b); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffea2f91', endColorstr='#ffc5066b', GradientType=0);
    margin-top: -5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 3px -1px rgba(0,0,0,0.3),inset 0 0 1px 1px rgba(255,255,255,0.2),0 0 0 #000;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.3),inset 0 0 1px 1px rgba(255,255,255,0.2),0 0 0 #000;
}
.alert-count.fade {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.position-super {
    position: absolute;
    top: 5px;
    left: 0px;
}



h1, h2, h3, h4, h5, h6{
    font-family: 'comfortaaregular' !important;
}


#AccountSettingsContainer a[data-toggle=modal]{
    width: 60px;
    text-align: center;
}
#AccountSettingsContainer li{
    padding-right: 15px;
}


#AccountSettingsContainer a
{
    height: 25px;
    display: inline-block;
    position: relative;
    line-height: 25px;
    color: #666;
}
#AccountSettingsContainer a > img{
    margin-left: 5px;
    float: left;
}



#dLabel{
    color: #666;
    padding: 3px;
}
.profile {
    color: white;
    margin-left: 7px;
    line-height: 25px;
    height: 25px;
    display: inline-block;
}

.pane-content{
    position: fixed;
    top: 500px;
    left: 0;
    background-color: #e7e7e7;
    display: inline-block;
    padding: 4px;
    width: 60px;
}
.social-link{
    background-color: #c2c2c2;
    display: inline-block;
    height: 42px;
    width: 52px;
    vertical-align: text-bottom;
    color: white;
    line-height: 42px;
    margin: 4px;

}

.social-link a{
    height: 42px;
    width: 52px;
    text-align: center;
    display: inline-block;
    color: transparent;
}

.social-link a[id=Twitter]{
    background: url('/Static/Images/icon-twitter.png') center center no-repeat;
}
.social-link a[id=Facebook]{
    background: url('/Static/Images/icon-facebook.png') center center no-repeat;
}

.social-link a[id=Blog]{
    background-size: 25px 25px;
    background-image: url('/Static/Images/wordpress.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.social-link a[id=Twitter]:hover{
    background-color: #47b9ea;
    color: transparent;
}

.social-link a[id=Facebook]:hover{
    background-color: #325c99;
    color: transparent;
}

.social-link a[id=Blog]:hover{
    background-color: black;
    color: transparent;
}
#Header
{
    background-color: #FFF;
    width: 900px;
    margin: auto;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    position: relative;
}

#Header .Right
{
    float: right;
}
#Header > a div{
    font-family: comfortaaregular;
    color: #666;
    
}
#Header > a > div{
    display: inline-block;
    margin-left: 45px;
    
} 
#Header > a{
    background: url('/Photos/favicon.png') no-repeat;
    background-size: 50px 50px;
    background-position: left;
    display: block;
    width: 300px;
}
#Header #the{
    position: relative;
    left: 20px;
    font-size: 20px;
}
#Header #company_name{
    font-size: 42px;
    font-weight: bold;
}




#ForgotLink
{
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #58A5D7;
    border: 5px solid #F5F5F5;
    color:white;
    cursor:pointer;
    margin-right: 50px;
}
#ForgotLink:hover:before{
    position:absolute; 
    content: '';
    color: white;
    border-radius: 50%;
    box-shadow:  1px 1px 2px 1px rgba(0, 0, 0, .4);
    top: 0 ; 
    bottom: 0 ; 
    left: 0 ; 
    right: 0 ;    
}
#ForgotLink:hover{
    position:relative;
}

a:hover{
    cursor: pointer;
}


/*
div.fb-login{
    width: 100%;
    height: 22px !important;
    background-size: 154px 22px;
    background:url('/Static/Images/fb_login_icon.gif') center center no-repeat;
    display: inline-block;
}*/
#fb-connect > #left{
    float: left;
    width: 18%;
    text-align: center;
}
#fb-connect > #right{
    float: right;
    width: 81.5%;
    text-align: center;
}
#border {
    width: 0.5%;
    height: 100%;
    display: inline-block;
    background-color: #dcebd3;

}
#fb-connect{
    color: white;
    width: 100%;
    height: 50px !important;
    line-height: 50px;
    background-color: #325c99;
    border-radius: 5px;
    margin-right: 12.5%;
    font-size: 17pt;
    
    
    border-top: 1px #f2f7ee solid;
    box-shadow:  0px 1px 1px 2px rgba(0, 0, 0, .4);
    cursor: pointer;
    text-shadow: 0px -1px 1px black;
    background-image: -moz-linear-gradient(top, #3868ac, #2c5086);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3868ac), to(#2c5086));
    background-image: -webkit-linear-gradient(top, #3868ac, #2c5086);
    background-image: -o-linear-gradient(top, #3868ac, #2c5086);
    background-image: linear-gradient(to bottom, #3868ac, #2c5086);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3868ac', endColorstr='#2c5086', GradientType=0);
  
}


#MemberLoginContainer, #registerform {
    width: 75%;
    /*text-align: center;*/
}

#registerform,#MemberLoginContainer

{
    margin-top: 20px;
    position:absolute;
    opacity:.9;
    z-index:7;
    background-color: #F5F5F5;
    padding: 20px;
    -moz-border-radius: 25px 25px 25px 25px;
    border-radius: 25px 25px 25px 25px;
}

h3[id=or]:before, h3[id=or]:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: grey;
}

h3[id=or]:before {
    margin-left: -50%;
    text-align: right;
}
h3[id=or] {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}




#registration label { 
    font-size:8pt;
}



#registration label.error,
#ResetPasswordForm label.error 

{
    font-size:9pt;
    font-weight: normal;
    color: #C00;
    width: 50%;
    display: inline;
}

#registration label.error.checked
{ 
    background:none;
}

#registration .field { 
    height:28px;
}

#registration .status 
{ 
    position:relative;
    display:block;
    height:23px;
}

/*#registration input,
#MemberLoginContainer input,
#ResetPasswordForm input*/
input
{ 
    padding:5px;
    margin-bottom: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}
#MemberLoginContainer input[type=text],
#MemberLoginContainer input[type=password],
#MemberLoginContainer input[type=email]{
    width: 75%;
}
#MemberLoginContainer input[type=checkbox]{
    float: left;
}



#fullname  input{
    width: 45% !important;
    display: inline;

}
label[for=lastname]{
    float: right;
}
label[for=firstname]{
    float: left;
}
#firstnameerror{
    float:left;
}
#lastnameerror{
    float:right;
}

.pass > * {
    float: left;
}


.remember {
    float:left;
    width: 200px;
}
/*.pass, .remember {
    width: 100%;
}*/
#registration input[id="firstname"]{
    float:left;
}
#registration input[id="lastname"]{
    float:right;
}
#registration input[id="password"],
#registration input[id="email"]{
    width: 55%;
}
#gendercontainer input,
#loccontainer input,
input[type="checkbox"]{
    width: 10%;
    display: inline;
}



#registration select
{ 
    padding:5px;
}




#month
{
    width:80px;
}
#monthcontainer 
{ 
    width:80px;
}

#day {
    width:65px;
}

#daycontainer { 
    width:65px;
}

#year {
    width:70px;
}

#yearcontainer { 
    width:70px;
}

#monthcontainer,
#daycontainer,
#yearcontainer 
{ 
    display:inline-block;
}

#monthlist,
#daylist,
#yearlist {
    font-size: 16px;
    display: none;
    border: 1px solid #6392FF;
    border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -moz-box-shadow:    inset 0 0 10px #CCC;
    -webkit-box-shadow: inset 0 0 10px #CCC;
    box-shadow:         inset 0 0 10px #CCC;
    position: absolute;
    width: 90px;
    background-color: #FFF;
    padding: 5px 10px;
}

#daylist { 
    width:30px;
}

#gendercontainer,
#loccontainer { 
    padding:5px;
}

#gendercontainer label,
#loccontainer label { 
    margin-left:10px;
}

.joinbutton {
    width: 100%;
    color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    font-family: comfortaaregular !important;
    margin: 10px 0;
    cursor:pointer;
    border: 1px solid;
}
#myModal .joinbutton,
#myModal2 .joinbutton{
    background-color: #58A5D7;
    border-color: #748EED;


}
#myModal .joinbutton:hover,
#myModal2 .joinbutton:hover{
    box-shadow:  1px 1px 2px 1px rgba(0, 0, 0, .4);
}

#AccountSettingsContainer
{
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #666;
}


#Beta
{ 
    height:20px;
    font-size: 9px;
    color: #666;
    margin-left:-30px;
    position: relative;
    bottom: -15px;
    text-decoration: none;
}




.CloseWindow 
{
    position:absolute;
    right:-15px;
    top:-15px;
    font-weight:bold;
    cursor:pointer;
    font-size:18pt;
}



.HowItWorks 
{
    position:relative;
    z-index:10;
    width: 600px;
    padding: 20px;
    margin: 0 auto;
    background-color:white;
    border:solid 2px black;
}

.HowItWorks h2 
{
    font-weight:bold;
    font-size:16pt;
    margin-top:10px;
    color:#333;
}

.HowItWorks p 
{ 
    padding:10px;
    color:#666;
    font-size:14pt;
}





#Navigation .navcontainer
{
    width: 900px;
    margin: auto;
    vertical-align: middle;
    /*   padding: 3px 10px; */
}
#Navigation {
    width: 100%;
    background-color: #c2c2c2;
    /*    background-image: -moz-linear-gradient(top, #222222, #111111);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
        background-image: -webkit-linear-gradient(top, #222222, #111111);
        background-image: -o-linear-gradient(top, #222222, #111111);
        background-image: linear-gradient(to bottom, #222222, #111111); */
    /*   background-repeat: repeat-x;
       border-color: #252525; */
    /*    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);*/
}




a:hover{
    text-decoration: none;
}

#Navigation a:hover,
#Navigation .active{
    color:white !important;

    background-color: #6887b9;
    background-image: -moz-linear-gradient(top, #8ba3c9, #6887b9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8ba3c9), to(#6887b9));
    background-image: -webkit-linear-gradient(top, #8ba3c9, #6887b9);
    background-image: -o-linear-gradient(top, #8ba3c9, #6887b9);
    background-image: linear-gradient(to bottom, #8ba3c9, #6887b9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8ba3c9', endColorstr='#6887b9', GradientType=0);


}


.navcontainer > .btn{
    display: none;
}

#Navigation .NavigationLink{
    display: inline-block;
}
#Navigation .NavigationLink,
.navcontainer > .btn
{
    line-height: 30px;
    color: white;
    font-size: 15px;
    padding-left: 13px;
    padding-right: 13px;
}

.NavigationLink.first
{
    border-left: 0;
}

.NavigationLink.last
{
    border-right: 0;
}




#tryagain, #QuickLoginFormLoginFailed, #RegFailed
{
    display: none;
    background-color: #ffebe8;
    border: 1px solid #dd3c10;
    font-size: 11px;
}



.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}



.modal {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 560px;
    margin-left: -280px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}


.modal.fade {
    top: -25%;
    -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
    -o-transition: opacity 0.3s linear, top 0.3s ease-out;
    transition: opacity 0.3s linear, top 0.3s ease-out;
}
.modal.fade.in {
    top: 10%;
}

.modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
}

.modal-header .close {
    margin-top: 2px;
}

.modal-header h3 {
    margin: 0;
    line-height: 30px;
}

.modal-body {
    position: relative;
    /* max-height: 400px;*/
    padding: 15px;
    /* overflow-y: auto; */
}

.modal-form {
    margin-bottom: 0;
}

.modal-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
    display: table;
    line-height: 0;
    content: "";
}

.modal-footer:after {
    clear: both;
}

.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.fade.in {
    opacity: 1;
}


.hide {
    display: none;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    font-size: 11px;
    line-height: 1.4;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: visible;
}
.tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
}

.tooltip-inner {
    max-width: 200px;
    padding: 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-color: #000000;
    border-width: 5px 5px 0;
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.popover.top {
    margin-top: -10px;
}

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.popover-title:empty {
    display: none;
}

.popover-content {
    padding: 9px 14px;
}

.popover .arrow,
.popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.popover .arrow {
    border-width: 11px;
}

.popover .arrow:after {
    border-width: 10px;
    content: "";
}

.popover.top .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0, 0, 0, 0.25);
    border-bottom-width: 0;
}

.popover.top .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    border-top-color: #ffffff;
    border-bottom-width: 0;
}

.carousel {
    position: relative;
    margin-bottom: 18px;
    line-height: 1;
}
.carousel-inner {
    overflow: hidden;
    width: 100%;
    position: relative;
}
.carousel .item {
    display: none;
    position: relative;
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -ms-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}
.carousel .item > img {
    display: block;
    line-height: 1;
}
.carousel .active, .carousel .next, .carousel .prev {
    display: block;
}
.carousel .active {
    left: 0;
}
.carousel .next, .carousel .prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.carousel .next {
    left: 100%;
}
.carousel .prev {
    left: -100%;
}
.carousel .next.left, .carousel .prev.right {
    left: 0;
}
.carousel .active.left {
    left: -100%;
}
.carousel .active.right {
    left: 100%;
}
.carousel-control {
    position: absolute;
    top: 40%;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #b97168;
    text-align: center;
    background: #222222;
    border: 3px solid #b97168;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.carousel-control.right {
    left: auto;
    right: 15px;
}
.carousel-control:hover {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.carousel-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 15px 5px;
    background: #333333;
    background: rgba(0, 0, 0, 0.75);
}
.carousel-caption h4, .carousel-caption p {
    color: #ffffff;
}


.dropup,
.dropdown {
    position: relative;
}

.dropdown-toggle {
    *margin-bottom: -3px;
}

.dropdown-toggle:active,
.open .dropdown-toggle {
    outline: 0;
}

.caret {
    /* float: right; */
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #666;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

.dropdown .caret {
    margin-top: 8px;
    margin-left: 2px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #c2c2c2;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu .divider {
    *width: 100%;
    height: 1px;
    margin: 9px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}

.dropdown-menu > li > a {
    width: 100% !important;
    display: block;
    padding: 8px 0px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
}


#AccountSettingsContainer li:hover,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    color: #ffffff;
    text-decoration: none;
    background-color: #6887b9;
    background-image: -moz-linear-gradient(top, #8ba3c9, #6887b9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8ba3c9), to(#6887b9));
    background-image: -webkit-linear-gradient(top, #8ba3c9, #6887b9);
    background-image: -o-linear-gradient(top, #8ba3c9, #6887b9);
    background-image: linear-gradient(to bottom, #8ba3c9, #6887b9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #ffffff;
    text-decoration: none;

    background-color: #6887b9;
    background-image: -moz-linear-gradient(top, #8ba3c9, #6887b9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8ba3c9), to(#6887b9));
    background-image: -webkit-linear-gradient(top, #8ba3c9, #6887b9);
    background-image: -o-linear-gradient(top, #8ba3c9, #6887b9);
    background-image: linear-gradient(to bottom, #8ba3c9, #6887b9);
    background-repeat: repeat-x;
    outline: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #999999;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    cursor: default;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open {
    *z-index: 1000;
}

.open > .dropdown-menu {
    display: block;
}

.pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px solid #000000;
    content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropup .dropdown-submenu > .dropdown-menu {
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-bottom: -2px;
    -webkit-border-radius: 5px 5px 5px 0;
    -moz-border-radius: 5px 5px 5px 0;
    border-radius: 5px 5px 5px 0;
}

.dropdown-submenu > a:after {
    display: block;
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;
    border-color: transparent;
    border-left-color: #cccccc;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown .dropdown-menu .nav-header {
    padding-right: 20px;
    padding-left: 20px;
}


.tab-content > .tab-pane, .pill-content > .pill-pane {
    display: none;
}
.tab-content > .active, .pill-content > .active {
    display: block;
}

.nav {
    margin-left: 0;
    margin-bottom: 18px;
    list-style: none;
}
.nav > li > a {
    display: block;
    background-color: #c2c2c2;
    color: white;
}
.nav > li > a:hover {
    text-decoration: none;
    background-color: #6887b9;
}



.nav-tabs, .nav-pills {
    *zoom: 1;
}
.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
    display: table;
    content: "";
}
.nav-tabs:after, .nav-pills:after {
    clear: both;
}
.nav-tabs > li, .nav-pills > li {
    float: left;
}
.nav-tabs > li > a, .nav-pills > li > a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}
.nav-tabs {
    border-bottom: 1px solid #6887b9;
}
.nav-tabs > li {
    margin-bottom: -1px;
    margin-left: 7px;
}
.nav-tabs > li > a {
    font-family: comfortaaregular !important;
    font-size: 24.5px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid;
    border-bottom-color: #6887b9;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
    border-color: #6887b9 #6887b9 #6887b9;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    color: white;
    background-color: #6887b9;
    border: 1px solid #6887b9;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-pills > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.nav-pills .active > a, .nav-pills .active > a:hover {
    color: #ffffff;
    background-color: #0088cc;
}
.nav-stacked > li {
    float: none;
}
.nav-stacked > li > a {
    margin-right: 0;
}
.nav-tabs.nav-stacked {
    border-bottom: 0;
}
.nav-tabs.nav-stacked > li > a {
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.nav-tabs.nav-stacked > li:first-child > a {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.nav-tabs.nav-stacked > li:last-child > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.nav-tabs.nav-stacked > li > a:hover {
    border-color: #ddd;
    z-index: 2;
}
.nav-pills.nav-stacked > li > a {
    margin-bottom: 3px;
}
.nav-pills.nav-stacked > li:last-child > a {
    margin-bottom: 1px;
}
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu {
    margin-top: 1px;
    border-width: 1px;
}
.nav-pills .dropdown-menu {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.nav-tabs .dropdown-toggle .caret, .nav-pills .dropdown-toggle .caret {
    border-top-color: #0088cc;
    margin-top: 6px;
}
.nav-tabs .dropdown-toggle:hover .caret, .nav-pills .dropdown-toggle:hover .caret {
    border-top-color: #005580;
}
.nav-tabs .active .dropdown-toggle .caret, .nav-pills .active .dropdown-toggle .caret {
    border-top-color: #333333;
}
.nav > .dropdown.active > a:hover {
    color: #000000;
    cursor: pointer;
}
.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > .open.active > a:hover {
    color: #ffffff;
    background-color: #999999;
    border-color: #999999;
}
.nav .open .caret, .nav .open.active .caret, .nav .open a:hover .caret {
    border-top-color: #ffffff;
    opacity: 1;
    filter: alpha(opacity=100);
}

.row {
    margin-left: -20px;
    *zoom: 1;
}
.row:before, .row:after {
    display: table;
    content: "";
}
.row:after {
    clear: both;
}
[class*="span"] {
    float: left;
    margin-left: 20px;
}
.span1 {
    width: 60px;
}
.span2 {
    width: 140px;
}
.span3 {
    width: 220px;
}
.span4 {
    width: 300px;
}
.span5 {
    width: 380px;
}
.span6 {
    width: 460px;
}
.span7 {
    width: 540px;
}
.span8 {
    width: 620px;
}
.span9 {
    width: 700px;
}
.span10 {
    width: 780px;
}
.span11 {
    width: 860px;
}
.span12, .container {
    width: 940px;
}

.butn {
  display: inline-block;
  padding: 4px 10px 4px;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}
.butn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.butn.active, .butn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  color: rgba(0, 0, 0, 0.5);
  outline: 0;
}