/* 
    Document   : Landing
    Created on : Aug 6, 2013, 12:39:57 PM
    Author     : anna parks
    Description: css for the landing/home page. url is : thesocialer.com
*/

#img{
    vertical-align: middle;
    text-align: center;
    color: #333;
    width: 55% !important;
    display: inline-block;
}
#Navigation{
    top: 0;
    z-index: 1; 
}
.carousel {
margin-top: 18px;
}
#become-host, #discover, #engage, #trust, #host-discover{
    
    width: 100%;
    text-align: center;
}

#discover{
}
#trust{
    color: #79a161;
    
}
#discover{
    background-color: #79a161;
    color: white;
} 

#host-discover, #trust{
    background-color: #f3f3f3;
    
}
ol {
list-style-type: decimal !important;
}

#Navigation .last.active{

    background-color: #6887b9;
}

#how-it-works{
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
    
}
 #text{
    font-family: comfortaabold;
    font-size: 19pt;
    text-align: center;
    width: 300px;
    text-shadow: 0 1px 1px rgba(50, 50, 50 ,1 );
    padding: 5px;
    margin: auto;
}
#how-it-works > #pic{
    
    width: 300px;
    height: 200px;
    background-color: white;
}
 
 .community.first{
    
    background-position: top center !important;
}
 .community.second{
    
    background-position: center right !important;
}
 .community{
     background-color: white;
     font-size: 130px;
     color: #87b968;
     line-height: 300px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
   /* margin: 10px;*/
    border: 1px #666 solid;
    border-radius: 50%;
    
}
.box{
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #d0d0d0;
}
#partition{
    display: inline-block;
    max-width: 402px;
    font-size: 15pt;
    text-align: left;
    margin: 10px;
    vertical-align: middle;
    
}
#circle{
    margin: auto;
    max-width: 402px;
    display: inline-block;
    vertical-align: middle;
}
#partition .iconContainer {
 width: 8% !important;
}
.carousel-inner{
    border-radius: 50%;
}
@media screen and (max-device-width: 430px),
only screen and (max-width : 430px){
    
    #partition{
        display: block;
        width: 85%;
        margin: 10px auto;
    }
     .community{
        width: 100%;
        border: none;
     }
}

.list-item{
    display: inline-block;
    width: 92%;
    padding-bottom: 7px;
}


.item img{
    border-radius: 50%;
    overflow: hidden;
}
h2{
    text-align: center;
}