/* 
    Document   : PopUps
    Created on : May 30, 2013, 2:41:07 PM
    Author     : aparks
    Description:
        Purpose of the stylesheet follows.
*/

#img{
    height: 300px;
    background: url('/Photos/Featured/Philadelphia-Fall.jpeg');
    /*    background: url(/Photos/Featured/480499_554198984599518_653560464_n.jpeg) no-repeat;*/
    background-size: 100% 100%;
}
body{
    background-image: none !important;
    background-color: #eef2f7 !important;

}
#MainBody, #Header {
    background-color: #eef2f7;

}

#popup-desc-start{

    font-size: 36pt;
    font-weight: bold;
    color: white;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.75);

    padding-left:20px;
    padding-top: 40px;
}

#popup-desc{
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.75);
    font-size: 16pt;
    color: white;
    padding:20px;
}

#LocationList .PopUpLocationPicture {    
    width: 100% !important;
    /*  height: auto;*/
    max-height: 400px;
    max-width: 100%;

    display: block; 
    margin-left: auto; margin-right: auto; 
    margin-top: 61px;

}
#LocationList li.loc 
{
    /*   margin-left: 20px;*/
    width: 430px !important; 
    height: 300px ! important; 
    background-color: #262626;
    background-size: 100% 100%;

}
#LocationList li.loc  a
{
    width: 430px;
    height: 300px;
    display: inline-block;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;

}

.TitleLocationContainer 
{
    /* top:-10px !important;*/
    width:100% !important; 
    /* background-color: #262626 !important;*/
    border-bottom: 3px solid #6888B9;
    padding: 0px !important;
}
.EventTitle {
    padding: 15px;
    /*    font-size: 32pt !important;*/

}
.EventPrice {
    float: right;

}


.DateContainer {
    margin: 4px;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    float: left;
    vertical-align: middle;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    background-image: url('/Static/Images/calendar.png');
}

.DateContainer_Date {
    width: 50px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    position: absolute;
    margin-top: 10px;
}