#MainBody
{ 
  padding:20px;
}

#MainBody h1
{ 
  font-size:14pt;
  margin-bottom:5px;
}

#MainBody h2
{ 
  font-size:12pt;
  margin-bottom:5px;
}
.reset,
#ResetPassContainer input[type=password],
#ResetPassContainer input[type=text]{
    width: 35% !important;   
}
#ResetPassContainer .passcheck{
    width: 20px ;
    margin-left: 55%;
}
#ResetPassContainer label[for=passcheck]{
    width: 200px;
    text-align: right;
    
}

.reset{
    
}

#ResetPassContainer 
{ 
  padding:40px;
}