#img{
    height: 300px;
    background: url('/Photos/Featured/Philadelphia-Fall.jpeg');
    /*    background: url(/Photos/Featured/480499_554198984599518_653560464_n.jpeg) no-repeat;*/
    background-size: 100% 100%;
}
body{
    background-image: none !important;
    background-color: #eef2f7 !important;

}
#MainBody, #Header {
    background-color: #eef2f7;

}

#popup-desc-start{

    font-size: 36pt;
    font-weight: bold;
    color: white;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.75);

    padding-left:20px;
    padding-top: 40px;
}

#popup-desc{
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.75);
    font-size: 16pt;
    color: white;
    padding:20px;
}

#Top 
{
    padding:10px 20px;
}

.WelcomeBack {
    font-size: 24pt;
    color: #6888B9;
    padding:15px 30px;
    width : 100%;
    line-height: 26pt;
}
.WelcomeBack .dropdown .caret{
    border-top-color: #6888B9;
}

.WelcomeBack .dropdown{
    width: auto;
    display:inline-block;
}
.WelcomeBack .dropdown-menu{
}
.WelcomeBack .dropdown-toggle:hover{

    background-image: none;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.WelcomeBack .dropdown-toggle{
    padding: 3px;
    font-size: 24pt;
    background-color: #e6e6e6;
    border-radius: 5px;
    color: #6888B9;
    cursor: pointer;



    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #fafafa;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border: 1px solid #cccccc;

    border-bottom-color: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

}

#EventDays li {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}
.WelcomeBack > div{
    font-size: 12pt;
    color: #666666;
}

#EventDays {
    display:inline-block;
}

#EventDays li {
    background-color: #c2c2c2;
    color: #FFF;
    text-align: center;
    display:inline-block;
    font-size: 14pt;
    border-right: #666 solid 1px;

    cursor: pointer;
    padding:5px 25px;
}

#EventDays li:hover,
#EventDays li.selected{
    text-decoration: none;
    color: white;
    background-color: #6887b9;
    background-image: -moz-linear-gradient(top, #8ba3c9, #6887b9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8ba3c9), to(#6887b9));
    background-image: -webkit-linear-gradient(top, #8ba3c9, #6887b9);
    background-image: -o-linear-gradient(top, #8ba3c9, #6887b9);
    background-image: linear-gradient(to bottom, #8ba3c9, #6887b9);
    background-repeat: repeat-x;

}

#EventDays li.Day1 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


#EventDays li.Day4 {
    border-right: none !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

h2 {
    font-size: 18px;
    margin: 5px 0;
}

.Home {
    padding: 5px 20px;
}

.EventList {

}

.EventList li {
    display:inline-block;
}

.EventList .Event {
    background: -moz-linear-gradient(top, #FFF, #E2E2E2); 
    position: relative;
    margin:13px 13px;
    -webkit-box-shadow:  1px 1px 2px 1px rgba(0, 0, 0, .4);
    box-shadow:  1px 1px 2px 1px rgba(0, 0, 0, .4);
    overflow:hidden;
}

.EventList li.Loading {
    line-height: 20px;
    text-align: center;
    width:830px;
    height:840px;
    color: #0B233F;
    font-weight: bold;
    font-size: 14px;
}

.AttendingCount 
{
    position:absolute;
    bottom:0;
    right:0;
    width:45px;
    height: 45px;
    text-align:center;
    vertical-align: middle;
    background-color:white;
    border-radius:8px;

    background-image:url('/Static/Images/star.png');
    background-size: contain;
    display:inline-block;

    color:#c2c2c2;
    cursor:pointer;
    font-family:arial;
    font-size: 8pt;
    font-weight:bold;
    text-decoration:none;


}

.AttendingCount strong
{
    font-size: 12pt;
    line-height: 45px;
    /*   line-height:32px; */
    /*   padding:12px 0 0 0px;*/
}

.AttendingCount.active 
{
    /*   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.5, #378de5), color-stop(1, #79bbff) );
       background:-moz-linear-gradient( center top, #378de5 50%, #79bbff 100% );
       filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');*/
    background-color:white;
    border-radius:8px;
    background-size: contain;
    background-image:url('/Static/Images/star_active.png');
    color:gold;
}
.AttendingCount:hover {
    background-image:url('/Static/Images/star_active.png');
    color:gold;


}
.fav{
    position:absolute;
    bottom:0;
    right:0;
    height:45px;
    width:45px;
    max-height:100%;
    max-width:100%;
    background-image:url('/Static/Images/star.png');
    background-size: contain;
}

.AttendingList {
    float:left;
    margin-top: 5px;
}

.AttendingList li {
    float: left;
    /*   width: 35px; */
    text-align: center;
    margin: -5px 5px 10px 0;
    position: relative;
}

.AttendingList li img {
    width:35px;
}

.AttendingList li .MemberName {
    position: absolute;
    top: 45px;
    left: -10px;
    border: 1px solid #0B233F;
    background-color: #F2F2F2;
    z-index: 2;
    padding: 8px;
    white-space: nowrap;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.TitleLocationContainer 
{
    position:absolute;
    top:0;
    width:240px;
    background: rgba(0,0,0,0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#AA000000', endColorstr='#AA000000'); /* IE */
    color:#FFF;
    padding:5px 10px;
    font-family: Helvetica, Arial, sans-serif;
}

.EventTitle {
    font-size: 14pt;
}

.EventLocation {
    font-size: 8pt;
    margin-top: 5px;
}

.LocationImage {
    cursor:pointer;
}

.LocationImage img {
    width:260px;
    height:260px;
}

.AttendingButtonsHolder {
    position:absolute;
    bottom:5px;
    right:5px;
    font-size: 9px;
    z-index:2;
}

.AttendingButtons {
    position:absolute;
    right:0;
    bottom:0;
    opacity:0;
}

.AttendingButtons .Button {
    line-height: 45px;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right:2px;
    background-color: #CACBCB;
    color: #0050F2;
}

.AttendingButtons .Button.hover {
    background-color: #6690FF;
    color: #FFF;
}

.AttendingButtons .Button.active {
    background-color: #0050F2;
    color: #FFF;
}

.AttendingButtonYes {
    width: 45px;
}

.AttendingButtonYes.hover,
.AttendingButtonYes.active {
    color: #3C9A49;
}

.AttendingButtonMaybe {
    width: 45px;
}

.AttendingButtonMaybe.hover,
.AttendingButtonMaybe.active {
    color: #FAAE2B;
}

.AttendingButtonNo.Button {
    width: 34px;
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-right-width: 1px;
}

.AttendingButtonNo.hover,
.AttendingButtonNo.active {
    color: #C3031B;
}

.Events {
    float: left;
}

.TrendContainer 
{
    position:absolute;
    bottom:-100px;
    height:50px;
    width:260px;
    background-color:rgba(0,0,0,.6);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#AA000000', endColorstr='#AA000000'); /* IE */
}

.CommentContainer {
    position:absolute;
    bottom:-100px;
    background-color:white;
    height:40px;
    width:260px;
    padding: 5px;
}

.CommentContainer .UserName {
    float: left;
    font-size:10pt;
    margin-top:3px;
    margin-left:5px;
}
.CommentContainer .UserName:hover {
    color: red;
}

/*.CommentContainer .UserPhoto {
    float:left;
    margin-top:-20px;
    margin-left:8px;
    border:solid 2px white;
    width:35px;
    height:35px;
}*/

.CommentContainer .UserLink {

}

.CommentContainer .Comment 
{
    clear:left;
    font-family: Helvetica, Arial, sans-serif;
    font-size:13pt;
    color:#777;
    /*    width:200px;
        height:auto; */
    overflow:hidden;
    padding: 0 5px;
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}


/* Featured Event Stuff: Modified layout for /trending  */
.FeaturedAttendingList {
    position:absolute;
    width:55px;
    height:100px;
    right:0px;
    top:20px;
    background:rgba(220, 220, 220, 0.8);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor:default;
}

.FeaturedAttendingList li {
    float: right;
    width: 45px;
    text-align: center;
    position: relative;
}

.FeaturedAttendingList .AttendingCount,
.FeaturedAttendingList .MaybeCount 
{
    height: 30px;
    padding: 5px 0;
    font-size: 7pt;
    vertical-align: middle;
    cursor: pointer;
}

.FeaturedAttendingList strong 
{
    display:block;
    font-size: 16pt;
    font-weight: bold;
    padding: 0;
    line-height:18px;
}

.FeaturedAttendingList .AttendingCount 
{
    background-image:none;
    background-color: #0050F2;
    border: solid 1px #AAA;
    color: #FFF;
    position:absolute;
    right:5px;
    top:8px;
}

.FeaturedAttendingList .MaybeCount {
    background-color: #CACBCB;
    border: solid 1px #AAA;
    color: #0050F2;
    position:absolute;
    right:5px;
    top:52px;
}

#FeaturedEvent {
    border: 1px solid #DCDCDC;
    margin-bottom: 5px;
    line-height: 18px;
    position:relative;
    overflow:hidden;
}

#FeaturedEvent img {
    border: solid 1px gray;
}

.FeaturedEventInfo {
    cursor: pointer;
    max-height:400px;
}
.FeaturedEventImage {
    width:100%;
}
.FeaturedEventBottomBar 
{
    width:840px;
    height:44px;
    position:absolute;
    bottom:0px;
    border-top:solid 3px #58A5D7;
    background: rgba(0,0,0,0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#AA000000', endColorstr='#AA000000'); /* IE */
    color:#FFF;
    padding:5px 10px;
    font-family: Helvetica, Arial, sans-serif;
}
.FeaturedEventHeadline {
    float:left;
    font-size:18pt;
    font-weight:bold;
    margin:4px 4px 0 4px;
    padding-bottom:4px;
    cursor:pointer;
}
.FeaturedEventLocation {
    float:left;
    clear: left;
    font-size:10pt;
    font-weight:bold;
    cursor:default;
    margin:0 4px;
}
.FeaturedEventTime {
    float:right;
    cursor:default;
    font-size:14pt;
}

#FeaturedEvent_WhosGoing {
    color: #666;
    font-size:7pt;
    font-weight: bold;
    margin-right:10px;
    position:absolute;
    right:0px;
    top:110px;
}