.UserSuggestions
{
  width: 305px;
  float: right;
  margin-top: 6px;
}

.UserRecommendation_List
{
  border: 1px solid #B8BCC2;
}

.UserRecommendation
{
  margin-bottom: 10px;
  position: relative;
}

.UserRecommendation .UserPhoto
{
  float: left;
  width: 60px;
  height: 60px;
}

.UserRecommendation .RightSide
{
  float: right;
  width: 223px;
}

.UserRecommendation .UserLocation
{
  float: right;
  font-weight: normal;
}

.UserRecommendation .NameLocationContainer
{
  background-color: #F1F1F1;
  font-size: 11px;
  font-weight: bold;
  margin: 0 1px;
  padding: 4px;
}

.UserRecommendation .UserDetails
{
  padding: 4px;
  color: #666;
  font-size: 11px;
}

.UserRecommendation button
{
  position: absolute;
  bottom: 0;
  right: 0;
}

.SeeMoreButton
{ 
  cursor:pointer;
}

.SeeMoreButton:hover
{ 
  text-decoration:underline;
}